body
{
    font-family: "Montserrat" !important;
    text-align: center !important;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}
.container-fluid
{
    padding: 7% 15%;
    
}
/* section */
.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/* Heading */
.big-heading
{
    size: 3rem;
    line-height: 1.5;
    padding: 15% 0%;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}
/* Navigation-Bar */
.navbar{
    padding-bottom: 7%;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
    padding-bottom: 40%;
}
#navbarSupportedContent{
    margin-left: 80%;
}
.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
} 
/* Button */
.download-button{
    padding: 7% 5% 7% 2%;
}
.title-image{
    transform: rotate(25deg);
    width: 60% !important;
    right: 10px;
    margin-top: 15%;
    position: absolute;
}
#title{
    
    text-align: left;
    
}
#title.container-fluid{
    padding: 3% 15% 7%;
}
/* features */
#features{
   
    
    position: relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
}
.features-box {
    
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    padding: 7% 5%;
    
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 5%;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* press */
#press{
    background-color: #ef8172;
    
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    
    padding: 100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column{
    padding: 3% 2%;
}
/* CTA */
#cta{
 background-color: #ff4c68;
 color: #fff;
 
   
}
.cta-heading{
    font-family: inherit;
    font-size: 3rem;
    line-height: 1.5rem;
    margin-bottom: 10%;
    
}
.social-icon{
    margin: 20px 10px;
}
/* footer */

@media (max-width: 1300px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
    
}
